<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>在模板中生成url地址</title>
</head>
<body>

    <p>{:url('blog/addBlog')} 生成 URL地址</p>

    <form action="{:url('blog/addBlog')}" method="post">
    <!--<form action="http://tp5.tt/index/Blog/addBlog" method="post">-->
        <table width="800" align="center" border="1">
            <tr>
                <td>标题</td>
                <td>
                    <input type="text" name="title" id="">
                </td>
            </tr>
            <tr>
                <td>内容</td>
                <td>
                    <input type="text" name="contents" id="">
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" value="添加">
                </td>
            </tr>
        </table>
    </form>
</body>
</html>